<!DOCTYPE html>
<html>
 <head>
 <% include ./partials/header %>
 </head>
 <body>
   <header>
     <% include ./partials/navbar %>
   </header>
   <h1 class='center'>About this Page</h1>
   <hr />
   <p> I worked really hard on this, and still just barely managed to get it working. </p>
   </body>
</html>
